<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Introduction to C</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
        <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />
        <link href = "../style.css" rel = "stylesheet">
        <link href = "../styles/index.css" rel = "stylesheet">

        <meta property="og:title" content="Introduction to C">
        <meta property="og:type" content="website">
        <meta property="og:description" content="The best website to learn C from scratch, like making a cake.">
    </head>
    <body>
        <nav class="navbar">
            <a id="patch-logo" href="/index.html">
                <h1 id="navbar-logo">C for Cake</h1>
                <h1 id="alt-navbar-logo">CFC</h1>
            </a>
            <div class="searcher">
                <div class="nes-field">
                    <input type="text" id="search-topic" name="search-topic" class="nes-input" placeholder="search">
                </div>
                <div class="list-container">
                    <div id="list-topic-results" class="group"></div>
                </div>
            </div>
            <button type="button" id="btn-search-topic" class="nes-btn is-primary">search</button>
        </nav>
        <div class="page">
            <div class="nes-container is-rounded">
                <h1>Introduction to C</h1>
                <p>Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi anim cupidatat excepteur officia. Reprehenderit nostrud nostrud ipsum Lorem est aliquip amet voluptate voluptate dolor minim nulla est proident. Nostrud officia pariatur ut officia. Sit irure elit esse ea nulla sunt ex occaecat reprehenderit commodo officia dolor Lorem duis laboris cupidatat officia voluptate. Culpa proident adipisicing id nulla nisi laboris ex in Lorem sunt duis officia eiusmod. Aliqua reprehenderit commodo ex non excepteur duis sunt velit enim. Voluptate laboris sint cupidatat ullamco ut ea consectetur et est culpa et culpa duis.</p>
            </div>
        </div>
        <script src="../index.js"></script>
    </body>
</html>
